<!DOCTYPE html>
<html lang='es'>
  <head>
    <meta charset='utf-8'>
    <title>PTTI - {% block titulo %}{% endblock %}</title>
    {% block style_css %}{% endblock %}
  </head>

  <body>
    <header>
    	{% block encabezado %}{% endblock %}
    	<nav>
    	  <ul id='menu'>
    		  <li><a href='/'>Inicio</a></li>

          {% if guest %}
            <li><a href='/login'>Login</a></li>
          {% else %}
            <li><a href='/logout'>Logout</a></li>
            <li><a href='/perfil'>Perfil</a></li>
            <li><a href='/usuarios/'>Usuarios</a></li>
            <li><a href='/usuarios/nuevo'>Nuevo usuario</a></li>
          {% endif %}
          
    		  <li><a href='/admin'>Panel Admin Root</a></li>
        </ul>
    	</nav>
    	<hr>
    </header>

    <section class='contenido'>
  	   {% block contenido %}{% endblock %}
    </section>

    <footer>
  	   <p>Proyecto PTTI</p>
    </footer>
  </body>
</html>
