<!DOCTYPE html>
<html lang='es'>
  <head>
    <meta charset='utf-8'>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>PTTI - {% block titulo %}{% endblock %}</title>
    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">

    <!-- Optional theme -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css" integrity="sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp" crossorigin="anonymous">

      {% block style_css %}{% endblock %}
  </head>

  <body>


    	<nav class="navbar navbar-default navbar-fixed-top">
        <div class="container">
          <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
              <span class="sr-only">Toggle navigation</span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="#"><b>PTTI</b></a>
          </div>
          <div id="navbar" class="navbar-collapse collapse">

        		  {% if request.user.is_anonymous %}
              <ul class="nav navbar-nav navbar-right">
                <li><a href='/login'>Login</a></li>
              </ul>
              {% else %}
              <ul class="nav navbar-nav navbar-left">

                {% block menu %}{% endblock %}
                {% if request.user.is_superuser  %}
                  <!-- <li><a href='/usuarios/'>Usuarios</a></li> -->
                  <li><a href='/administradores/'>Administradores</a></li>
                {% endif %}

                {% if request.user.is_administrador or request.user.is_superuser  %}
                  <li><a href='/psicologos/'>Psicologos</a></li>
                  <li><a href='/estudiantes/'>Estudiantes</a></li>
                  <li><a href='/instituciones/'>Instituciones</a></li>
                  <li><a href='/grupos/'>Grupos</a></li>
                {% endif %}

              </ul>
              <ul class="nav navbar-nav navbar-right">
                <li><a href='/perfil'><b>{{ request.user.username|upper }}</b> Perfil</a></li>
                <li><a href='/logout'>Logout</a></li>
              </ul>
              {% endif %}

          </div>
        </div>
    	</nav>



    <div class="container col-12" style="margin-top:50px">
      {% block encabezado %}{% endblock %}
    	<hr />
  	  {% block contenido %}{% endblock %}
      <footer class="footer" style="padding-top: 40px;padding-bottom: 40px;margin-top: 40px;border-top: 1px solid #eee;">
    	   <p>© 2016. Proyecto PTTI. Yenifer Rivas - Esteban Idarraga - Cristian Vazquez - Carlos Gutierrez</p>
      </footer>
    </div>


    <!-- Placed at the end of the document so the pages load faster -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
    <!-- Latest compiled and minified JavaScript -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>

  </body>
</html>
