{% extends 'base.html' %}

{% block titulo %}
	grupos
{% endblock %}

{% block encabezado %}
	<h1>Lista de grupos</h1>
{% endblock %}

{% block menu %}
{% endblock %}

{% block contenido %}
	<li><a href='/grupos/crear'>Crear grupo</a></li>
  {% if grupos_lista %}
	<table>
        <thead>
          <tr style="font-weight:bold;text-align:center">
						<td></td>
            <td>institucion</td>
            <td>jornada</td>
            <td>grado</td>
            <td>nombre</td>
            <td>opciones</td>
          </tr>
        </thead>
        <tbody>
					{% for grupo in grupos_lista %}
	          <tr>
							<td>{{ forloop.counter }}</td>
              <td><a href="{% url 'ptti:editar_grupo' grupo.id %}">{{ grupo.institucion }}</a></td>
							<td>{{ grupo.jornada }}</td>
              <td>{{ grupo.grado }}</td>
							<td>{{ grupo.nombre }}</td>
							<td>
								<a href="{% url 'ptti:editar_grupo' grupo.id %}">editar</a>
								{% if grupo.is_active %}
									<a href="{% url 'ptti:desactivar_grupo' grupo.id %}">desactivar</a>
								{% else %}
							    <a href="{% url 'ptti:activar_grupo' grupo.id %}">activar</a>
							  {% endif %}
							</td>
            </tr>
					{% endfor %}
        </tbody>
      </table>
		</table>

  {% else %}
      <p>No grupos</p>
  {% endif %}
{% endblock %}
