{% extends 'base.html' %}

{% block titulo %}
	Asignar test
{% endblock %}

{% block encabezado %}
	<h1>estudiantes que pertenecen al grupo {{grupo}}</h1>
{% endblock %}

{% block menu %}

{% endblock %}

{% block contenido %}
	<div class="table-responsive">
	<table class="table table-striped">
		<thead>
		    <tr style="font-weight:bold;text-align:center">
				<td>Estudiante</td>
		    </tr>
		  </thead>
	    <tbody>
	        <tr style="text-align:center">
	        	<td>
					{% for estudiante in estudiantes_lista %}
						<a class="btn btn-sm btn-success" href="listaEstudiantes/{{grupo.id}}">{{grupo.nombre}}</a>	
					{% endfor %}
						
				</td>
	        </tr>
	    </tbody>
	  </table>
	</div>

{% endblock %}
