{% extends 'base.html' %}

{% block titulo %}
	Ingresa al sistema
{% endblock %}

{% block encabezado %}
	<h1>Bievenido a PTTI</h1>
{% endblock %}

{% block menu %}
{% endblock %}

{% block contenido %}
<div class="container">

	<form class="form-signin" id='formulario' method='post' style="margin: 0 auto;max-width:330px;padding:15px;">
		{% csrf_token %}
		<table>{{formulario}}</table>
		<a href="{% url 'ptti:reset_password' %}">¿Olvidaste la contrase&ntilde;a?</a>
		<input class="btn btn-lg btn-primary btn-block" type='submit' value='Ingresar'/>


	</form>
</div>
{% endblock %}
