{% extends 'base.html' %}

{% block titulo %}
	Ingresa al sistema
{% endblock %}

{% block encabezado %}
	<h1>Bievenido a PTTI</h1>
{% endblock %}

{% block menu %}
{% endblock %}

{% block contenido %}
	<form class="form-signin" id='formulario' method='post' action=''>
		{% csrf_token %}
		<table>{{formulario}}</table>
		<p>
			<input class="btn btn-primary" type='submit' value='Ingresar'/>
			<a class="btn btn-default" href="{% url 'ptti:reset_password' %}">¿Olvidaste la contrase&ntilde;a?</a>
		</p>
	</form>
{% endblock %}
