{% extends 'base.html' %}

{% block titulo %}
	test asignados
{% endblock %}

{% block encabezado %}
	<h1>Mis Test Asignados</h1>
{% endblock %}

{% block menu %}
{% endblock %}

{% block contenido %}

  {% if asignados_lista %}
	<div class="table-responsive">
		<table class="table table-striped">
      <thead>
        <tr style="font-weight:bold;text-align:center">
				<td></td>
		    <td>Test</td>
		    <td>Estado</td>
				<td>Opciones</td>
        </tr>
      </thead>
      <tbody>

		{% for asignado in asignados_lista %}

      <tr style="text-align:center">
				<td>{{ forloop.counter }}</td>
				<td>{{ asignado.test }}</td>
				<td>{{ asignado.estado }}</td>
				<td>
					{% if asignado.estado == "SIN INICIAR" %}
						<a class="btn btn-sm btn-default" href="{% url 'ptti:IniciarTest' asignado.id %}">Responder</a>
					{% endif %}
					{% if asignado.estado == "INICIADO"  %}
						<a class="btn btn-sm btn-default" href="{% url 'ptti:ResponderTest' asignado.id asignado.pre_actual  %}">Continuar</a>
					{% endif %}
					{% if asignado.estado == "FINALIZADO" %}
						<a class="btn btn-sm btn-default" href="{% url 'ptti:RespuestasTest' asignado.id %}">Ver respuestas</a>
					{% endif %}
				</td>
			 </tr>

	{% endfor %}
      </tbody>
    </table>
	</div>

  {% else %}
		<div class="alert alert-danger" role="alert">
    	<p>No asignados</p>
		</div>
  {% endif %}
{% endblock %}
