{% extends 'base.html' %}

{% block titulo %}
	Restablecer contrase&ntilde;a
{% endblock %}

{% block encabezado %}
	<h1>Restablecer contrase&ntilde;a</h1>
{% endblock %}

{% block menu %}

{% endblock %}

{% block contenido %}

	{% if validlink %}
			<form id='formulario' method='post' action=''>
				{% csrf_token %}
				<table>{{form}}</table>
				<p><input class="btn btn-primary" type='submit' value='Restablecer contrase&ntilde;a'/></p>
			</form>
    {% else %}
			<div class="alert alert-danger" role="alert">
	    	<p>This reset link is no longer valid!</p>
			</div>

    {% endif %}
{% endblock %}
