{% extends 'base.html' %}

{% block titulo %}
	Perfil
{% endblock %}

{% block encabezado %}
	<h1>Bienvenido</h1>
{% endblock %}

{% block menu %}
{% endblock %}

{% block contenido %}
	<div class="table-responsive">
		<table class="table table-striped">
			<tbody>
				<tr>
					<td><b>Nombres:</b></td>
					<td>{{usuario.first_name|upper}}</td>
				</tr>
				<tr>
					<td><b>Apellidos:</b></td>
					<td>{{usuario.last_name|upper}}</td>
				</tr>
				<tr>
					<td><b>Tipo documento:</b></td>
					<td>{{usuario.tipo_docto|upper}}</td>
				</tr>
				<tr>
					<td><b>No. documento:</b></td>
					<td>{{usuario.no_docto|upper}}</td>
				</tr>
				<tr>
					<td><b>Fecha nacimiento:</b></td>
					<td>{{usuario.fecha_nac|upper}}</td>
				</tr>
				<tr>
					<td><b>Genero:</b></td>
					<td>{{usuario.genero|upper}}</td>
				</tr>
				<tr>
					<td><b>Direcci&oacute;n:</b></td>
					<td>{{usuario.direccion|upper}}</td>
				</tr>
				<tr>
					<td><b>Telefono:</b></td>
					<td>{{usuario.telefono|upper}}</td>
				</tr>

			</tbody>
		</table>
	</div>

	<a class="btn btn-default" href="{% url 'ptti:perfil_editar' usuario.id %}">Editar informaci&oacute;n personal</a>



{% endblock %}
