{% extends 'base.html' %}

{% block titulo %}
	preguntas
{% endblock %}

{% block encabezado %}
	<h1>Lista de pregunta</h1>
{% endblock %}

{% block menu %}
{% endblock %}

{% block contenido %}
	<a class="btn btn-primary" href="{% url 'ptti:crear_pregunta' test %}">Nueva pregunta</a>

  {% if pregunta_lista %}
	<div class="table-responsive">
		<table class="table table-striped">
      <thead>
        <tr style="font-weight:bold;text-align:center">
			    <td>orden</td>
			    <td>test</td>
	      	<td>pregunta</td>
	        <td>opciones</td>
        </tr>
      </thead>
      <tbody>
			{% for pregunta in pregunta_lista %}
        <tr style="text-align:center">
					<td>{{ pregunta.numero }}</td>
					<td>{{ pregunta.test }}</td>
					<td>{{ pregunta.pregunta }}</td>

					<td>
						<a class="btn btn-sm btn-default" href="{% url 'ptti:editar_pregunta' pregunta.id test %}">Editar pregunta</a>
						<a class="btn btn-sm btn-primary" href="{% url 'ptti:respuestas_pregunta' pregunta.id %}">Respuestas</a>
					</td>
        </tr>
			{% endfor %}
      </tbody>
    </table>
	</div>

  {% else %}
		<div class="alert alert-danger" role="alert">
    	<p>No preguntas</p>
		</div>
  {% endif %}
{% endblock %}
